
- if can? :save_html_content, SectionContent
  #wysihtml-toolbar{:style => "display: none;"}
    = render partial: "shared/wysihtml_toolbar"
  #wysihtml-textarea{:style => "outline:none"}
    = raw(content.html_content)
  #html_content_save{:style => "display: inline-block; width: 100px; height: 36px;"}
    %a.waves-effect.waves-light.btn.lefted Save
  %div{:style => "position: relative; display: inline-block; top: -5px; left: 20px; float: right; margin: 0 35px 0 0"}
    .whisper Last Modified:
    .whisper{:style => "clear: both"}
      = content_modified_stamp(content)
      | #{content_time_stamp(content)}
- else
  %div{:style => "outline:none"}
    = raw(content.html_content)


:javascript
  var editor = new wysihtml5.Editor("wysihtml-textarea", { // id of textarea element
    toolbar:      "wysihtml-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules, // defined in parser rules set
    stylesheets: ["#{asset_path("application.css")}"]
  });

  $('#html_content_save').on('click', function(){
    var html_content = $('#wysihtml-textarea').html();
    var section_name = "#{action_name}";

    $.ajax({
      url: "#{save_html_content_path}",
      method: 'PUT',
      data: { section_name: section_name, html_content: html_content },
      dataType: 'script',
      error: function(){
        alert('error');
      },
      success: function(){
        alert('success');
      }
    })
  })