.bg
.jumbotron
  %h1
    %span AndersonGlass
  .description Custom Glass & Installations
  %p
    %a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_high_level
  %h1.section_header_dark Describe Your Project
  .container
    %hr
  .col-lg-offset-2.col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("home.svg", size:'120x120')
      .caption
        %h3 Residential
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @residential_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @residential_services.size.times do
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: right'} Yes
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("store.svg", size:'120x120')
      .caption
        %h3 Commercial
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @commercial_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @commercial_services.size.times do
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: right'} Yes
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
.row.section_quality
  %h1.section_header Quality
  .container
    %hr

.row.section_location
  %h1.section_header Locations
  .container
    %hr
  .col-sm-6
    .location_content
  .col-sm-6
    %iframe{id:'map'}
    %script{:async => '', :defer => '', src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyAD4MvYs0ac42irOI1cOFgQCGixjyHro0Q&callback=initMap'}



:javascript
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });