.bg
.jumbotron
  %h1 Hello, world!
  %p
  %p
    %a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Learn more
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
.row
  .col-md-6
    .location_thumbnail
      .location_title Your Home
      .image_wrapper
        = image_tag("home.svg", size:'150x150', class: "location_hero_icon")
  .col-md-6
    .location_thumbnail
      .location_title Your Business
      .image_wrapper
        = image_tag("store.svg", size:'150x150', class: "location_hero_icon")

.row
  .col-md-6{class:'text-center'}
    Residential
  .col-md-6{class:'text-center'}
    Commercial

:javascript
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });