.bg
.jumbotron
  %h1
    %span AndersonGlass
  %p
  %p
    %a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_high_level
  .col-lg-offset-2.col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("home.svg", size:'120x120')
      .caption
        %h3 Residential
        .iso_table{style:'display: block; clear:both; overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            %tr{style:'background-color: #ddd'}
              %td{style:'float: left'} Frameless shower enclosures
            %tr
              %td{style:'float: left; text-align: right'} Custom shower doors
            %tr{style:'background-color: #ddd'}
              %td{style:'float: left'} Tub enclosures
            %tr
              %td{style:'float: left; text-align: right'} Beveling
            %tr{style:'background-color: #ddd'}
              %td{style:'float: left'} Tempered glass
            %tr
              %td{style:'float: left'} Insulated glass
            %tr{style:'background-color: #ddd'}
              %td{style:'float: left'} Table tops
            %tr
              %td{style:'float: left'} Mirrors
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
            %tr
              %td{style:'float: right'} Yes
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("store.svg", size:'120x120')
      .caption
        %h3 Commercial
        %p
          Storefronts
          Curtain walls
          Automatic doors
          Glass Entrances and doors
          Custom glass walls, interior and exterior
          Total glass doors
          Glass railings
          Insulated glass
          Laminated glass
          Tempered glass
          Aluminum panels
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button





:javascript
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });