.bg
.jumbotron
  %h1
    %span AndersonGlass
  %p
  %p
    %a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_high_level
  .col-lg-offset-2.col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("home.svg", size:'120x120')
      .caption
        %h3 Residential
        %p
          Specializing in frameless shower enclosures
          Custom shower doors
          Tub enclosures
          Beveling
          Tempered glass
          Insulated glass
          Table tops
          Mirrors
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("store.svg", size:'120x120')
      .caption
        %h3 Commercial
        %p
          Storefronts
          Curtain walls
          Automatic doors
          Glass Entrances and doors
          Custom glass walls, interior and exterior
          Total glass doors
          Glass railings
          Insulated glass
          Laminated glass
          Tempered glass
          Aluminum panels
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button





:javascript
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });