.bg{style: "background-image: url(#{@banner.image.url(:original)})"}
.jumbotron
  %h1
    %span{style: "position: relative; top: -50px"}= image_tag("logo.png", size:'391x284')
  -#%p
    -#%a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
- if can? :manage, :all
  .banner_form
    .edit_title
      Edit Banner Image
    .edit_body
      = form_for Picture.new, url: pictures_create_banner_path, html: { class: 'banner_upload', multipart: true } do |f|
        .field
          = f.file_field :image
        .field
          = f.hidden_field :market, value: 'residential'
        .actions
          = f.submit 'Upload Picture'
          %span{style: 'font-size: 12px'} 1497x589
.main_slider{style:'display: none'}
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_wrapper{style:'height: 800px'}
  %h1.section_header_dark{style: "margin-top: 0"} Describe Your Project
  .container
    %hr
  %br\
  .col-sm-6.col-lg-offset-2.col-lg-4
    .thumbnail
      .square_hover
        = image_tag("residential_market.jpg", size:'320x240')
      .caption
        %h3 Residential
        .table_wrapper{style:'overflow: auto'}
          %table.market_table
            - @residential_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @residential_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p.thumb_button
          %a.btn.btn-primary{:href => "#{galleries_index_path}", :role => "button"} View Residential Work
  .col-sm-6.col-lg-4
    .thumbnail
      .square_hover
        = image_tag("commercial_market.jpg", size:'320x240')
      .caption
        %h3 Commercial
        .table_wrapper{style:'overflow: auto'}
          %table.market_table
            - @commercial_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @commercial_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p.thumb_button
          %a.btn.btn-primary{:href => "#{galleries_index_path}", :role => "button"} View Commercial Work

.row.section_wrapper.dark-blue.wysihtml_editable
  %h1.section_header Projects
  .container
    %hr
  %br\
  .col-sm-12.col-md-6
    .section_content
      = render partial: "shared/html_content", locals: { content: @projects_contents }
  .col-sm-12.col-md-6{style:'height: 400px;'}
    .faded_container
      = image_tag("#{image_path('quality.jpg')}", size:'', class:'faded')
      .after

.row.section_wrapper.black.wysihtml_editable
  %h1.section_header Locations
  .container
    %hr
  %br\
  .col-sm-12.col-md-6{style:'height: 400px;'}
    %div{id:'map', style:'height: 400px;'}
    %script{:async => '', :defer => '', src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyAD4MvYs0ac42irOI1cOFgQCGixjyHro0Q&callback=initMap'}
  .col-sm-12.col-md-6
    .section_content
      = render partial: "shared/html_content", locals: { content: @locations_contents }

:javascript
  $(document).ready(function() {

    $('.wysihtml_editable').each(function() {
      var parent_section = $(this).closest('.section_wrapper');
      var section_name = parent_section.find('.section_header').text().toLowerCase();

      var textarea_id = "wysihtml-textarea-" + section_name;
      var toolbar_id = "wysihtml-toolbar-" + section_name;

      var admin_logged_in = "#{@current_user.first_name if @current_user.present?}";

      if ((typeof admin_logged_in !== 'undefined') && (admin_logged_in)) {
        var editor = new wysihtml5.Editor(textarea_id, { // id of textarea element
          toolbar:      toolbar_id, // id of toolbar element
          parserRules:  wysihtml5ParserRules, // defined in parser rules set
          stylesheets: ["#{asset_path('application.css')}"]
        });
      }

    });

  });