.bg
.jumbotron
  %h1
    %span{style: "position: relative; top: -50px"}= image_tag("logo.png", size:'391x284')
  -#%p
    -#%a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_wrapper{style:'height: 800px'}
  %h1.section_header_dark{style: "margin-top: 0"} Describe Your Project
  .container
    %hr
  %br\
  .col-sm-6.col-lg-offset-2.col-lg-4
    .thumbnail
      .square_hover
        = image_tag("residential_market.jpg", size:'320x240')
      .caption
        %h3 Residential
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @residential_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @residential_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p.thumb_button
          %a.btn.btn-primary{:href => "#", :role => "button"} View Residential Work
  .col-sm-6.col-lg-4
    .thumbnail
      .square_hover
        = image_tag("commercial_market.jpg", size:'320x240')
      .caption
        %h3 Commercial
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @commercial_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @commercial_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p.thumb_button
          %a.btn.btn-primary{:href => "#", :role => "button"} View Commercial Work

.row.section_wrapper.orange
  %h1.section_header Craftsmanship
  .container
    %hr
  %br\
  .col-sm-12.col-md-6
    .section_content
      = render partial: "shared/html_content", locals: { content: @craftsmanship_contents }
  .col-sm-12.col-md-6{style:'height: 400px;'}
    .faded_container
      = image_tag("#{image_path('quality.jpg')}", size:'', class:'faded')
      .after

.row.section_wrapper.black
  %h1.section_header Locations
  .container
    %hr
  %br\
  .col-sm-12.col-md-6{style:'height: 400px;'}
    %div{id:'map', style:'height: 400px;'}
    %script{:async => '', :defer => '', src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyAD4MvYs0ac42irOI1cOFgQCGixjyHro0Q&callback=initMap'}
  .col-sm-12.col-md-6
    .section_content
      Anderson Glass services clients in towns across New Jersey such as Annandale, Bedminster,
      Berkeley Heights, Bernardsville, Chatham, Clinton, Far Hills, Flemington, Maplewood, Millburn,
      New Providence, Pittstown, Short Hills, Summit, Tewksbury, Westfield and surrounding towns.
      %br/
      %br/
      Anderson Glass manufactures and fabricates in Hunterdon County, NJ and services Essex, Hunterdon,
      Morris, Union and Somerset county and surrounding townships.