.bg
.jumbotron
  %h1
    %span AndersonGlass
  .description Custom Glass & Installations
  %p
    %a{class:"btn btn-primary btn-lg", href:"#", role:"button"} Get A Quote
.main_slider
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_1.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_2.png", class: "main_slider_image")
  = image_tag("residential/sm_shower_3.png", class: "main_slider_image")

.row.section_wrapper{style:'height: 800px'}
  %h1.section_header_dark Describe Your Project
  .container
    %hr
  %br\
  .col-sm-6.col-lg-offset-2.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("home.svg", size:'120x120')
      .caption
        %h3 Residential
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @residential_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @residential_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-6.col-lg-4
    .thumbnail
      .circle_hover
        = image_tag("store.svg", size:'120x120')
      .caption
        %h3 Commercial
        .table_wrapper{style:'overflow: auto'}
          %table{style:'width:70%; float:left; margin: 20px 0; text-align: right'}
            - @commercial_services.each do |service|
              %tr{class:"#{cycle('','light-gray')}"}
                %td{style:'float: left'}= service
          %table{style:'float:right; margin: 20px 0; text-align: right'}
            - @commercial_services.size.times do
              %tr
                %td{style:'float: right'}
                  %span{class:'glyphicon glyphicon-ok-sign'}
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button

.row.section_wrapper.orange
  %h1.section_header Craftsmanship
  .container
    %hr
  %br\
  .col-sm-12.col-md-6
    .section_content
      A growing number of architects, contractors and owners continue to rely on Anderson Glass’
      commercial glazing for the best in lead times, full compliance with architectural specifications,
      and quality products and installations that you will be proud of.
      %br/
      %br/
      At Anderson Glass, we are committed to integrity, quality and professionalism on every project,
      whether it be in your home or business location.  Call us today at 908-735-8333.
  .col-sm-12.col-md-6{style:'height: 400px;'}
    .faded_container
      = image_tag("#{image_path('quality.jpg')}", size:'', class:'faded')
      .after

.row.section_wrapper.black
  %h1.section_header Locations
  .container
    %hr
  %br\
  .col-sm-12.col-md-6{style:'height: 400px;'}
    %div{id:'map', style:'height: 400px;'}
    %script{:async => '', :defer => '', src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyAD4MvYs0ac42irOI1cOFgQCGixjyHro0Q&callback=initMap'}
  .col-sm-12.col-md-6
    .section_content
      Anderson Glass services clients in towns across New Jersey such as Annandale, Bedminster,
      Berkeley Heights, Bernardsville, Chatham, Clinton, Far Hills, Flemington, Maplewood, Millburn,
      New Providence, Pittstown, Short Hills, Summit, Tewksbury, Westfield and surrounding towns.
      %br/
      %br/
      Anderson Glass manufactures and fabricates in Hunterdon County, NJ and services Essex, Hunterdon,
      Morris, Union and Somerset county and surrounding townships.



:javascript
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }
  $(window).scroll(function(e){
    parallax();
  });
