.gallery_wrapper
  .gallery_center
    .gallery_header Gallery

  .gallery_center
    .market_title Residential
    .market_toggle
      %ul.tg-list
        %li.tg-list-item
          %input.multi_switch.multi_switch_hook(type="checkbox" initial-value="0" checked-value="1" unchecked-value="2")
    .market_title Commercial


- if @pictures.present?
  .gallery_section
    - @pictures.each do |p|
      %div(class="gallery_picture #{p.market}")
        = image_tag p.image.url(:thumb), class: 'gallery_image', :'data-id' => p.id
        -if can? :manage, :all
          .gallery_overlay
            .glyphicon.glyphicon-trash
    .gallery_picture_spinner
      .sk-folding-cube
        .sk-cube1.sk-cube
        .sk-cube2.sk-cube
        .sk-cube4.sk-cube
        .sk-cube3.sk-cube

- if can? :manage, :all
  = form_for Picture.new, url: pictures_create_path, html: { class: 'gallery_upload', multipart: true } do |f|
    .field
      = f.file_field :image
    .field
      = f.radio_button(:market, "residential")
      = f.label(:residential, "Residential")
      = f.radio_button(:market, "commercial")
      = f.label(:commercial, "Commercial")
    .actions
      = f.submit 'Upload Picture'

:javascript
  var confirmation_success = "#{ j(flash[:success]) }";
  var confirmation_error = "#{ j(flash[:error]) }";

  if (confirmation_success != '') {
    $.notify({
      message: "#{ j(flash[:success]) }"
    },{
      type: 'success'
    });
  }
  if (confirmation_error != '') {
    $.notify({
      message: "#{ j(flash[:error]) }"
    },{
      type: 'danger'
    });
  }

